{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}

{% if not entries %}
    {% if edit_bool %}
     <div>
<p>
    {{ content|safe }}
</p>
<a href="{{ title }}/edit">
    <input type="submit" class="btn btn-outline-info" value="Edit">
</a>
</div>
        {% endif %}

    {% else %}
    <h1>All Pages</h1>
    <ul>
        {% for entry in entries %}
            <li>
                <a href="wiki/{{ entry }}">
                    {{ entry }}
                </a>
                </li>
        {% endfor %}
    </ul>
{% endif %}



{% endblock %}